<section id="certificate" class="services">
    <div class="container">
      <div class="section-title" data-aos="zoom-out">
        <h2>Certificate</h2>
        <p>CERTIFICATES</p>
      </div>
  
  
      <div class="c-container" >
        <!-- Card 1 -->
        <div class="c-card" data-aos="zoom-in-left">
            <img src="assets/certificate/logo/iso_14001.png" class="li-logo">
            <div class="c-card-content">
            <div class="c-card-title">ISO 14001-2015</div>
            <a href="assets/certificate/pdf/ISO-14001-2015.pdf" class="download-link" target="_blank"></a>
          </div>
        </div>

        <!-- <button class="cer-btn">Certificate</button> -->
      
        <!-- Card 2 -->
        <div class="c-card" data-aos="zoom-in-left">
          <img src="assets/certificate/logo/iso-9001.jpg" class="smi-logo">
          <div class="c-card-content">
            <div class="c-card-title">ISO 9001-2015</div>
            <a href="assets/certificate/pdf/ISO-9001-2015-t.pdf" target="_blank" class="download-link"></a>
          </div>
        </div>
      
        <!-- Card 3 -->
        <div class="c-card" data-aos="zoom-in-left">
            <img src="assets/certificate/logo/iso-9001.jpg" class="smi-logo">
            <div class="c-card-content">
            <div class="c-card-title">ISO 9001-2015</div>
            <a href="assets/certificate/pdf/ISO-9001-2015.pdf" target="_blank" class="download-link"></a>
          </div>
        </div>
      
        <!-- Card 4 -->
        <div class="c-card" data-aos="zoom-in-left">
            <img src="assets/certificate/logo/ISO-45001.png" class="li-logo">
            <div class="c-card-content">
            <div class="c-card-title">ISO 45001-2018</div>
            <a href="assets/certificate/pdf/ISO-45001-2018.pdf" target="_blank" class="download-link"></a>
          </div>
        </div>
      </div>
  
  
  
  
    </div>
  </section>