<section id="team" class="team">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Team</h2>
            <p>All partners at Veda are former founders and have been deeply entrenched in the Startup Ecosystem. We
                strive to support our founders with the learnings we've had, while standing by them through all the
                agony and the ecstasy of rapid growth.
            </p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="zoom-in">
                    <div class="member-img">
                        <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Vasant Rao</h4>
                        <!-- <span>Chief Executive Officer</span> -->
                        <p>Having worn multiple hats, from being a founder to a consultant to an angel investor, Vasant
                            has successfully exited from two ventures. An M.Sc Economics from the prestigious Lancaster
                            University Management School, his interests lie in SaaS Sales, Growth Hacks, Alliances and
                            Strategic Planning</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <div class="member-img">
                        <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Karthik Nair</h4>
                        <!-- <span>Product Manager</span> -->
                        <p>An alumni of the University of Warwick, Karthik brings to the team a vast experience of both
                            Sales & Operations gained from early stage startups. His last stint as VP, Startup
                            Partnerships at LetsVenture adds value in Deal Sourcing, Strategic Alliances and Investor
                            Relations</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <div class="member-img">
                        <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Venus Dhuria</h4>
                        <!-- <span>CTO</span> -->
                        <p>A serial entrepreneur with a background in technology, Venus finds his calling in the
                            consumer internet and marketing space. Venus is the founder of AppyHigh, a consumer internet
                            company with products north of 60 million downloads</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <div class="member-img">
                        <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Aneesh Rayancha</h4>
                        <!-- <span>CTO</span> -->
                        <p>An alumnus of the prestigious IIT Bombay, Aneesh co-founded Rutogo (acquired by Ixigo), and
                            is now a co-founder at AppyHigh. Savvy in tech, Aneesh’s strengths lie in operations and
                            product.
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
