<section id="why-us" class="why-us">
    <div class="container-fluid">

        <div class="row">

            <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-stretch">

                <div class="content" data-aos="fade-up">
                    <h3>Not just investment <strong>handholding your idea to a successful company</strong></h3>
                    <p>
                        We partner with entrepreneurs through their journey in building world-class companies, backed by
                        the rich & deep operating experience of our team.
                    </p>
                </div>

                <div class="accordion-list">
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                            <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span>
                                Investing in disruptive Innovation! <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                                <p>
                                    If you have an disruptive product that can revolutionize the industry, we are there
                                    for you to achieve this.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span>
                                Empowering the Founder? <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                                <p>
                                    If you have an amazing startup and are looking for capital or want to publish your
                                    app with us to grow
                                    massively or wish to spearhead any of our portfolio products, we’d love to have a
                                    cup of coffee with
                                    you!
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span>
                                Investing in disruptive Innovation! <i class="bx bx-chevron-down icon-show"></i><i
                                    class="bx bx-chevron-up icon-close"></i></a>
                            <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                                <p>
                                    If you have an amazing startup and are looking for capital or want to publish your
                                    app with us to grow
                                    massively or wish to spearhead any of our portfolio products, we’d love to have a
                                    cup of coffee with
                                    you!
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="col-lg-5 order-1 order-lg-2 align-items-stretch video-box"
                style='background-image: url("assets/img/why-us.jpg");' data-aos="zoom-in">
                <a href="https://www.youtube.com/watch?v=LIqQNG_q2us" class="venobox play-btn mb-4" data-vbtype="video"
                    data-autoplay="true"></a>
            </div>

        </div>

    </div>
</section>